input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	background-image: var(--main-bg-color-radial-gradient);
	z-index: 1;
}

#header {
	position: absolute;
	top: -3%;
	left: 50%;
	transform: translate(-50%, 3%);
	height: 20%;
	width: 50%;
	text-align: center;
	z-index: 2;
}

#header-text {
	position: inherit;
	top: -5%;
	left: 50%;
	transform: translate(-50%, -5%);
	font-weight: 600;
	font-family: Poppins, sans-serif;
	background: var(--main-text-color-gradient);
	background-clip: text;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 80px;
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50%;
	width: 30%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	z-index: 2;
}

form {
	--text-color: #afafaf;
	color: var(--text-color);
	max-width: 500px;
}

.field {
	width: 100%;
	position: relative;
	border-bottom: 2px dashed var(--text-color);
	margin: 4rem auto 1rem;
}

.label {
	color: var(--text-color)
}

.input {
	outline: none;
	border: none;
	overflow: hidden;
	margin: 0;
	width: 100%;
	padding: 0.25rem 0;
	background: none;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
}

.input:valid {
	color: green;
}

.input:invalid {
	color: red;
}

.field::after {
	content: "";
	position: relative;
	display: block;
	height: 4px;
	width: 100%;
	background: #d16dff;
	transform: scaleX(0);
	transform-origin: 0%;
	transition: transform 500ms ease;
	top: 2px;
}