:root {
	--text-color: #afafaf;
	--emailField-color: #000000;
	--passwordField-color: #000000;
	--usernameField-color: #000000;
}

html {
	margin: 0;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

#go-back {
	position: absolute;
	top: 2%;
	left: 1%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

#go-back svg {
	position: inherit;
	height: 24px;
	width: 24px;
}

#go-back a {
	margin-left: -3px;
	flex: 4;
	color: inherit;
	font-family: Roboto;
}

.signup-container {
	position: absolute;
	border-radius: 15px;
	background: inherit;
	color: inherit;
	box-shadow: 0 0px 24px 0 rgba(31, 38, 135, 0.37);
	border: 1px solid;
	border-color: inherit;
	top: 50%;
	left: 50%;
	height: 85%;
	width: 40%;
	min-height: 500px;
	min-width: 300px;
	transform: translate(-50%, -50%);
}

#signup-header {
	position: relative;
	font-family: Poppins;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
}

form {
	color: var(--text-color);
	max-width: 500px;
	font-family: Roboto;
}

.field {
	width: 80%;
	position: relative;
	border-bottom: 2px solid var(--text-color);
	margin: 8vh auto 1vh auto;
}

.label {
	color: var(--text-color);
	font-weight: 400;
	font-size: 1.2rem;
	z-index: -1;
	position: absolute;
	left: 0;
	bottom: -2rem;
	transform: translateY(-2rem);
	transform-origin: 0%;
	transition: transform 250ms;
}

.input-error {
	color: var(--text-color);
	font-weight: 400;
	font-size: 0.8rem;
	color: red;
	z-index: -1;
	position: absolute;
	right: 0;
	bottom: 2.3rem;
	overflow-wrap: break-word;
	max-width: 70%;
}

.input {
	font-weight: 400;
	outline: none;
	border: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	padding: 0.25rem 0;
	background: none;
	font-size: 1.2rem;
}

#passwordInput {
	letter-spacing: 0.3em;
}

.field::after {
	content: "";
	border: none;
	position: relative;
	display: block;
	height: 3px;
	width: 100%;
	transform: scaleX(0);
	transform-origin: 50%;
	opacity: 0;
	transition: all 250ms ease;
	top: 2.5px;
}

.emailField::after {
	background: var(--emailField-color);
}

.passwordField::after {
	background: var(--passwordField-color);
}

.usernameField::after {
	background: var(--usernameField-color);
}

.field:focus-within::after {
	transform: scaleX(1);
	opacity: 1;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
	transform: scale(0.8) translateY(-5.2rem);
}

* {
	box-sizing: border-box;
}

.show-password-div {
	--size: 16px;
	--timing: 100ms;
	display: flex;
	justify-content: flex-start;
	font: var(--size) / 1.4 Roboto;
	user-select: none;
}

#show-password {
	position: absolute;
	left: -150%;
	width: 0;
	height: 0;
	border: none;
	background: none;
}

#show-password-label {
	position: relative;
	display: flex;
	margin: 0 0 0 10%;
	align-items: center;
	cursor: pointer;
}

#show-password-label > span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	width: var(--size);
	height: var(--size);
	background: transparent;
	border: 2px solid #303030;
	border-radius: 2px;
	cursor: pointer;
	transition: all var(--timing) cubic-bezier(0.4, 0, 0.23, 1);
}

#show-password:checked + label > span {
	border: 0.5em solid #303030;
}

#show-password:checked + label > span:before {
	content: "";
	position: absolute;
	top: 0.55em;
	left: 0.14em;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checkbox-check var(--timing) var(--timing) cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes checkbox-check {
	0% {
		width: 0;
		height: 0;
		border-color: white;
		transform: translate3d(0, 0, 0) rotate(45deg);
	}
	33% {
		width: 0.2em;
		height: 0;
		transform: translate3d(0, 0, 0) rotate(45deg);
	}
	100% {
		width: 0.2em;
		height: 0.5em;
		border-color: white;
		transform: translate3d(0, -0.5em, 0) rotate(45deg);
	}
}

.options {
	position: absolute;
	bottom: 2%;
	height: 20%;
	width: 100%;
}

.signup {
	position: relative;
	text-align: center;
	display: block;
	top: 0;
	width: 100%;
	height: 50%;
	margin: 0;
}

#signup-submit {
	position: relative;
	font: inherit;
	background-color: #333333;
	border: 1px #868686 solid;
	box-shadow: 0 0 8px 4px #424242;
	color: white;
	border-radius: 10px;
	width: 90px;
	height: 45px;
	cursor: pointer;
	animation: text-hover-after 140ms ease-in 0s;
}

#signup-submit:hover {
	animation: text-hover 140ms ease-in 0s;
	animation-fill-mode: forwards;
}

@keyframes text-hover {
	from {
		background-color: #333333;
		border: 1px #868686 solid;
	}

	to {
		background-color: #1f1f1f;
		border: 1px #aaaaaa solid;
	}
}

@keyframes text-hover-after {
	from {
		background-color: #1f1f1f;
		border: 1px #aaaaaa solid;
	}

	to {
		background-color: #333333;
		border: 1px #868686 solid;
	}
}

.have-account {
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 6px;
	height: 50%;
	font: inherit;
}

#signup-link {
	display: inline;
	font: inherit;
	font-size: 16px;
	color: #1a73e8;
	letter-spacing: 0.0107142857em;
}
